*{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

.container{
	width: 1016px;
	margin: 0 auto;
}

.clear{
	clear: both;
}

/* ***************************************************************** */
/* ***************** Header Start ********************************** */
/* ***************************************************************** */

.logo{
	float: left;
}

.nav li{
	float: left;
	color: #dce3e4;
	padding: 0 25px;
}

.nav{
	float: right;
	padding: 42px 0 33px 0;
}

.header{
	background-color: #4b96a1;
}

.logo h1{
	font-size: 40px;
	color: #ffffff;
	padding: 30px 0;
}



/* ***************************************************************** */
/* ***************** Header End ********************************** */
/* ***************************************************************** */