*{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

.container{
	width: 1016px;
	margin: 0 auto;
}

.clear{
	clear: both;
}

/* ***************************************************************** */
/* ***************** Header Start ********************************** */
/* ***************************************************************** */

.logo{
	float: left;
}

.nav li{
	float: left;
	color: #dce3e4;
	padding: 0 25px;
}

.nav{
	float: right;
	padding: 42px 0 33px 0;
}

.header{
	background-color: #4b96a1;
}

.logo h1{
	font-size: 40px;
	color: #ffffff;
	padding: 30px 0;
}



/* ***************************************************************** */
/* ***************** Header End ********************************** */
/* ***************************************************************** */


/* ***************************************************************** */
/* ***************** Banner Start ********************************** */
/* ***************************************************************** */

	.banner img{
		width: 100%;
		text-align: center;
	}
	
	.banner{
		position: relative;
	}
	
	.banner-text h2{
		font-size: 44px;
		color: #e4e4e4;
		padding-bottom: 46px;
	}
	
	.banner-text a{
		font-size: 34px;
		color: #e4e4e4;
		border: 3px solid #afb1b4;
		padding: 12px 45px;
		border-radius: 10px;
	}
	
	.banner-text{
		width: 526px;
		height: 186px;
		text-align: center;
		position: absolute;
		top: calc(50% - 93px);
		left: calc(50% - 263px);
	}

/* ***************************************************************** */
/* ***************** Banner End ********************************** */
/* ***************************************************************** */